.footer {
	display: flex;
	color: white;
	background-color: gray;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	gap: 5em;
	position: fixed;
	top: 97%;
	left: 0;
	height: 3%;
	width: 100%;
	z-index: 1000;
}

.footer a {
	color: white;
}

@media screen and (width <= 900px) {
	.footer p {
		display: none;
	}
}